* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid #128e25;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#156cc2,#dddddd);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.ness{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 160px;
    }
    50%{
        bottom: 180px;
    }
    75%{
        bottom: 160px;

    }
    100%{
        bottom: 0;
    }
    
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
    
}